{% extends "frontend/base.html" %}

{% block body %}

    <input id="USRID" type="hidden" value="{{user.id}}">
    {%csrf_token%}

    <div class="centercont3">

        <div class="centercontHeader">
            <p class="part1" style="font-weight: 500; text-align: center; color: grey; font-weight: 400;">SELECT WORD GROUPS TO TRAIN</p>
            {% if MSG %}
                <p class="part1" style="font-weight: 500; text-align: center; color: #61BCD0; font-weight: 400;">{{MSG}}</p>
            {% endif %}
        </div>

        {% if MSG %}
            <div style="height: 23px;"></div>
        {% endif %}

        <form id="group_list_form" action="{% url 'frontend:training' %}" method="POST">
            {%csrf_token%}

            <div id="contGroup" class="part1">
                {% comment %} <div class="GroupItem" id="GG"> {% endcomment %}
                {% comment %}     <p style="text-align: center; padding-bottom: 5px;">YOUR GROUPS</p> {% endcomment %}
                {% comment %}     {% for key, value in group_list.items %} {% endcomment %}
                {% comment %}         <div class="group_cont" data-key="{{key}}" data-type="G" data-val="{{value}}" id="contG{{value}}" onclick="check_uncheck('G{{value}}')"> {% endcomment %}
                {% comment %}             <input class="nice_input groupCheckBox" type="checkbox" id="G{{value}}" name="G{{value}}"> {% endcomment %}
                {% comment %}             <p class="groupItemName ">{{key}}</p> {% endcomment %}
                {% comment %}             <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="xx" viewBox="0 0 16 16"> {% endcomment %}
                {% comment %}                 <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/> {% endcomment %}
                {% comment %}             </svg> {% endcomment %}
                {% comment %}         </div> {% endcomment %}
                {% comment %}     {% endfor %} {% endcomment %}
                {% comment %}     [> <div class="group_cont" id="contGADD" onclick="NewGroupElem('#GG')"> <] {% endcomment %}
                {% comment %}     <div class="group_cont" id="contGADD" onclick="createNewGroup()"> {% endcomment %}
                {% comment %}         <p style="text-align: center; width: 100%; padding: 5px 0; margin: 0; font-size: 20px;">+</p> {% endcomment %}
                {% comment %}     </div> {% endcomment %}
                {% comment %} </div> {% endcomment %}
                <div class="GroupItem" id="GL">
                    {% comment %} <p style="text-align: center; padding-bottom: 5px;">WORD GROUPS</p> {% endcomment %}
                    {% for key, value in levels_list.items %}
                        <div class="group_cont" id="contL{{value}}" onclick="check_uncheck('L{{value}}')">
                            <input class="nice_input groupCheckBox" type="checkbox" id="L{{value}}" name="L{{value}}">
                            <p class="groupItemName">{{key}}</p>
                            {% comment %} <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="xx" viewBox="0 0 16 16"> {% endcomment %}
                            {% comment %}     <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/> {% endcomment %}
                            {% comment %} </svg> {% endcomment %}
                        </div>
                    {% endfor %}
                    {% comment %} <div class="group_cont" id="contLADD" onclick="alert('add new item')"> {% endcomment %}
                    {% comment %} <div class="group_cont" id="contLADD" onclick="window.location.replace('/modify/')"> {% endcomment %}
                    {% comment %}     <p style="text-align: center; width: 100%; padding: 5px 0; margin: 0; font-size: 20px;">+</p> {% endcomment %}
                    {% comment %} </div> {% endcomment %}
                </div>
            </div>
            <br>

            {% comment %} <div class="aftergroups"> {% endcomment %}
            {% comment %}     <label for="word_amount">Word Amount:</label> {% endcomment %}
            {% comment %}     <input id="word_amount" class="niceINP" style="width: 70px;" name="wordamm" placeholder="default: 30"><br><br> {% endcomment %}
            {% comment %} </div> {% endcomment %}

            <button id="nextbtn" class="part1 niceBTN">Shuffle & Train</button>

        </form>

        <form style="display: none;" action="/api/wordgroup/" method="POST"><input name="name" value=""><input name="parent" value="{{user.id}}"></form>

    </div>
{% endblock %}

{% comment %} {% block js %} {% endcomment %}
{% comment %}     <script type="text/javascript" src="{% static 'frontend/base.js' %}"></script> {% endcomment %}
{% comment %} {% endblock %} {% endcomment %}
