{% extends "frontend/base.html" %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/base.css' %}">
{% endblock %}

{% block body %}
    <div class="centercont">

        <form id="group_list_form" action="/train/" method="POST">

            <div class="centercontHeader">
                <p class="part2" style="font-weight: 500; text-align: center; color: grey; font-weight: 400;">HOW MANY WORDS YOU WOULD LIKE TO TRAIN</p>
                <p class="part1" style="font-weight: 500; text-align: center; color: grey; font-weight: 400;">SELECT THE WORD GROUPS TO TRAIN</p>
            </div>

            <div class="part2">
                <label for="word_amount">Word Amount:</label>
                <input id="word_amount" name="wordamm" placeholder="ex: 20"><br><br>
            </div>

            {%csrf_token%}

            <div id="contGroup" class="part1">
                <div class="GroupItem">
                    <p style="text-align: center; padding-bottom: 5px;">YOUR GROUPS</p>
                    {% for key, value in group_list.items %}
                        <div class="group_cont" id="contG{{value}}" onclick="check_uncheck('G{{value}}')">
                            <input class="nice_input groupCheckBox" type="checkbox" id="G{{value}}" name="G{{value}}">
                            <p class="groupItemName ">{{key}}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="GroupItem">
                    <p style="text-align: center; padding-bottom: 5px;">DEFAULT GROUPS</p>
                    {% for key, value in levels_list.items %}
                    <div class="group_cont" id="contL{{value}}" onclick="check_uncheck('L{{value}}')">
                            <input class="nice_input groupCheckBox" type="checkbox" id="L{{value}}" name="L{{value}}">
                            <p class="groupItemName">{{key}}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </form>

        <div class="aftergroups">
            <button id="nextbtn" class="part1 niceBTN" onclick="nextStep()">Next</button>
        </div>

        {% comment %} <button class="part2" onclick="location.reload()">Back</button> {% endcomment %}
        {% comment %} <button class="part2" onclick="document.querySelector('#group_list_form').submit();">Train</button> {% endcomment %}

    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'frontend/base.js' %}"></script>
{% endblock %}
