{% extends "frontend/base.html" %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/base.css' %}">
{% endblock %}

{% block body %}
    <div style="font-size: 18px; text-align: center; width: auto; max-width: 1500px; height: auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <ul style="max-width: 35vw;">
            <p style="color: grey; text-align: center;">GETTING STARTED</p>
            <li>The Steno Grind is a simple web application intended to speed up the learning process for beginner stenographers!</li>
            <br>
            <li>CRUD operations on groups</li>
            <br>
            <li>trash</li>
            <br>
            <li>shop for other groups? instead of just defaults</li>
            <br>
        </ul>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'frontend/base.js' %}"></script>
{% endblock %}
