{% extends "frontend/base.html" %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/base.css' %}">
{% endblock %}

{% block body %}
    <div style="font-size: 18px; text-align: center; width: auto; max-width: 1500px; height: auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <ul style="max-width: 35vw;">
            <p style="color: grey; text-align: center;">GETTING STARTED</p>
            <li>The Steno Grind is a companion web application for the <i>Art of Chording</i> textbook, found <a href="https://www.artofchording.com/" target="_blank">here</a></li>
            <br>
            <li>The app will give you customized writing prompts according to the word groups you select.</li>
            <br>
            <li>For every lesson in The Art of Chording, there will be an accompanying word group to select!</li>
            <br>
            <li style="color: #61BCD0;">Click anywhere on the top header to return home... enjoy!</li>
        </ul>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'frontend/base.js' %}"></script>
{% endblock %}
