{% extends "frontend/base.html" %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/base.css' %}">
{% endblock %}

{% block body %}
    <div style="font-size: 18px; text-align: center; width: auto; max-width: 1500px; height: auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <ul style="max-width: 35vw;">
            <p style="color: grey; text-align: center;">GETTING STARTED</p>
            <li>modify</li>
        </ul>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'frontend/base.js' %}"></script>
{% endblock %}
